*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: '华文中宋';
}
/* 1366px*768px */
body{
    width: 1366px;
    margin: 0 auto;
}

img{
    display: block;
}

.banner{
    width: 100%;
    position: relative;
}

.banner .bg{
    width: 100%;
    display: block;
}

.banner .logo{
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(0,-50%);
    width: 316px;
    height: 387px;
}

.banner .zzw{
    width: 532px;
    height: 474px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0,0);
}

.banner .text{
    width: 495px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
}

/* 导航栏 */
nav{
    width: 1366px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999999;
}

nav.active{
    width: 1366px;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    background-image: url(../images/nav_bg.png);
}

nav.active ul a{
    color: black;
}

nav ul{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav ul li a{
    padding: 0 30px;
    color: white;
    font-size: 24px;
}

section{
    width: 1366px;
    height: 768px;
    background-image: url(../images/home/首页底图.png);
    background-size: cover;
    position: relative;
}

section#one{
    height: 1101px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#one .left{
    width: fit-content;
    text-align: center;
    font-size: 24px;
    line-height: 2.5em;
}
section#one .right{
    width: fit-content;
    height: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 2.5em;
    display: flex;
    align-items: end;
}
/* 左边人物 */
section#one .left .person{
    position: absolute;
    left: 0;
    top: 26.8px;
    width: 348px;
    height: auto;
    z-index: 999;
}
section#one .right .person{
    width: 277px;
    position: absolute;
    left: 1020px;
    top: 210px;
    z-index: 999;
}
section#one .center .person{
    width: 253px;
    position: absolute;
    top: 793px;
    left: 556px;
    z-index: 999;
}

section#two{
    height: 1118px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

section#two .images{
    position: absolute;
    left: 430px;
    top: 468px;
}

section#two .images img{
    width: 568px;
    margin: 0 auto;
}

section#two .images p{
    margin-top: 158px;
}

section#two .text{
    position: absolute;
    left: 513px;
    top: 190px;
    z-index: 9999;
}

section#two .text p,
section#two .images p{
    line-height: 2em;
    font-size: 24px;
}

section#two .left{
    width: 506px;
    height: 451px;
    position: absolute;
    left: -83px;
    top: 60px;
}
section#two .right{
    position: absolute;
    right: 0;
    bottom: 0;
}

p.animate_text{
    opacity: 0.4;
}
p.animate_text.active{
    opacity: 1;
}